html{
  --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.library {
  display: flex;
  flex-direction: column;
  font-family: var(--bs-font-sans-serif);
  justify-content: center;
  align-items: center;
}

img {
  margin-top: 50px;
  max-width: 10%;
  height: auto;
}

.appTitle {
  display: inline-block;
  font-size: 52px;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;

}

.card {
    transition: 0.3s;
    border: solid black;
    border-radius: 5px; /* 5px rounded corners */
    width: 400px;
    text-align: center;
  }

  #cardContainer {
    display: grid;
  }

  .heading {
    font-size: 40px;
    background-color: black;
    color: white;
    font-style: oblique;
  }

  .subheader {
    font-size: 20px;
  }

  .numPages {
    font-size: 18px;
  }

  .readStatus {
    font-size: 18px;
  }