html{
  --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.library {
  display: flex;
  flex-direction: column;
  font-family: var(--bs-font-sans-serif);
  justify-content: center;
  align-items: center;
}

img {
  margin-top: 50px;
  max-width: 10%;
  height: auto;
}

.appTitle {
  display: inline-block;
  font-size: 52px;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;

}

.card {
    transition: 0.3s;
    border: solid black;
    border-radius: 5px; /* 5px rounded corners */
    width: 400px;
    text-align: center;
    padding-bottom: 10px;
  }

  #cardContainer {
    display: grid;
    row-gap: 10px;
  }

  .cardTitle {
    font-size: 40px;
    background-color: black;
    color: white;
    font-style: oblique;
    padding-bottom: 5px;
  }

  .cardAuthor {
    font-size: 20px;
    padding-top: 5px;
  }

  .cardPages {
    font-size: 16px;
    padding-bottom: 5px;
  }

  .cardReadStatus {
    font-size: 16px;
    padding-bottom: 5px;
  }

  @media only screen and (max-width: 800px) {
    .card {
      width: 500px !important;
    }
  }
  
  @media only screen and (max-width: 550px) {
  .card {
      width: 300px !important;
    }
  }
